In [1]:
# Import dependencies 
import pandas as pd

In [2]:
# Set csv file path variable
alcohol_csv_file_path = '../Shane/HappinessAlcoholConsumption.csv'

In [3]:
# Read in CSV file into pandas
alcohol_df = pd.read_csv(alcohol_csv_file_path)

# Visualize data frame
alcohol_df.head()

,Country,Region,Hemisphere,HappinessScore,HDI,GDP_PerCapita,Beer_PerCapita,Spirit_PerCapita,Wine_PerCapita
0,Denmark,Western Europe,north,7.526,928,53.579,224,81,278
1,Switzerland,Western Europe,north,7.509,943,79.866,185,100,280
2,Iceland,Western Europe,north,7.501,933,60.530,233,61,78
3,Norway,Western Europe,north,7.498,951,70.890,169,71,129
4,Finland,Western Europe,north,7.413,918,43.433,263,133,97

In [4]:
# Drop unwanted columns
columns_to_drop = ['Region','Hemisphere','HappinessScore','HDI','GDP_PerCapita']
alcohol_df.drop(columns_to_drop, 1, inplace=True)

In [5]:
# Set Country as Index
alcohol_df = alcohol_df.set_index("Country")

In [6]:
# Visualize cleaned up data frame
alcohol_df.head()

             Beer_PerCapita  Spirit_PerCapita  Wine_PerCapita
Country
Denmark                 224                81             278
Switzerland             185               100             280
Iceland                 233                61              78
Norway                  169                71             129
Finland                 263               133              97

In [7]:
# Write data frame to csv file
alcohol_df.to_csv('HappinessAlcoholConsumption_cleaned.csv')